{{ define "editerr" }}
{{ template "index-top" }}
<body>
<style>
.cont{width:400px;margin:auto;}
h2{text-align:center;}
button{float:right;}
</style>


<div class="cont">
<h2>数据库中存在该设备,请决定是否覆盖</h2>
<hr>
<form>
<fieldset>
<legend>请做出选择:</legend>
<input type="radio" name="sex" value="male" checked>覆盖原有数据
<input type="radio" name="sex" value="female">取消操作
</fieldset>
</form>
<p>
<input type=hidden name=yc value=”editerror”>
<button type="button">确认</button>

</div>
</body>
{{ template "index-bottom" }}
{{ end }}
