{{ define "edit" }}
{{ template "index-top" }}
<body>
<style>
	.h{display:flex;text-align: center;flex-direction: column;justify-content: center;}
	.p{color:gray;margin:5px;}
	.f{width: 340px;margin: auto;}
	.d{display:flex;justify-content:space-between;padding:0.1em;}
	#button{padding-top:20px;}
	input{width:180px;}
</style>

<script>
function validateForm(){
	if (!checking()){
		return false;
	}
	var obj = getjsondata();
	obj.Data.User = document.forms["officeFrom"]["user"].value;
	obj.Data.Dep = document.forms["officeFrom"]["department"].value;
	obj.Data.Type = document.forms["officeFrom"]["Equipment_type"].value;
	obj.Data.Mac = document.forms["officeFrom"]["mac"].value;
	obj.Data.Ip = document.forms["officeFrom"]["ip"].value;
	obj.Data.Sys = document.forms["officeFrom"]["system_type"].value;
	obj.Data.Disk = document.forms["officeFrom"]["diskid"].value;
	obj.Data.Id = document.forms["officeFrom"]["id"].value;
	obj.Msg = "q"
	var jsondata = "pjson=" + JSON.stringify(obj);
	var xmlHttp = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
	xmlHttp.open("post", "/editprocess", false);
	xmlHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xmlHttp.onreadystatechange = function(){
		if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			//var sobj = eval ("(" + xmlHttp.responseText + ")");
			var sobj = JSON.parse(xmlHttp.responseText);
			if (sobj.Msg == "e"){
                con = confirm(sobj.Info);
				if (!con){
					return false;
				}else{
					obj.Msg = "w";
					var jsondata = "pjson=" + JSON.stringify(obj);
					xmlHttp.open("post", "/editprocess", false);
					xmlHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
					xmlHttp.send(jsondata);
				}
			}else{
				alert(sobj.Info);
				return true;
			}
		}
	}
	xmlHttp.send(jsondata);
}
function getjsondata(){
	var jsondt = `{"Msg":"","Data":{"User":"",
		"Dep":"",
		"Type":"",
		"Mac":"",
		"Ip":"",
		"Sys":"",
		"Disk":"",
		"Id":""}}`;

	return JSON.parse(jsondt);
}
function checking(){
	var y=document.forms["officeFrom"]["ip"].value;
	if (y==null || y==""){
		alert("IP地址必须填写");
		return false;
	}else{
		var pattIp = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/g;
		if(!pattIp.test(y)){
			alert("IP地址不正确")
			return false;
		}
	}
	var z=document.forms["officeFrom"]["mac"].value;
	if (z==null || z==""){
		alert("网卡地址必须填写");
		return false;
	}else{
		var reg=/^[A-Fa-f\d]{2}:[A-Fa-f\d]{2}:[A-Fa-f\d]{2}:[A-Fa-f\d]{2}:[A-Fa-f\d]{2}:[A-Fa-f\d]{2}$/;
		if(!reg.test(z)){
			alert("mac地址不正确！");
			return false;
		}
	}
	var l=document.forms["officeFrom"]["id"].value;
	if (l==null || l==""){
		alert("固定资产编号必须填写");
		return false;
	}
	return true;
}
</script>


<div class="h">
	<h1>请填写必要信息</h1>
	<div class="p">如果数据库中存在该信息,提交后会做出相应提示.</div><p>
	<div class="input_form">
	<form class="f" name="officeFrom"  action="editprocess" method="post" id="tpost">
		<div class="d"><label>使用者姓名:</label><input type="text" name="user" /></div>
		<div class="d"><label>所属部门:</label><select name="department" class="s">
			<option value="公司高层">公司高层</option>
			<option value="人力资源部">人力资源部</option>
			<option value="公司办" selected>公司办</option>
			<option value="财务部">财务部</option>
			<option value="采供中心">采供中心</option>
			<option value="技术质量部">技术质量部</option>
			<option value="市场管理部">市场管理部</option>
			<option value="销售公司">销售公司</option>
			<option value="设备运行部">设备运行部</option>
			<option value="生产安全部">生产安全部</option>
			<option value="热轧车间">热轧车间</option>
			<option value="精整车间">精整车间</option>
			<option value="动力车间">动力车间</option>
			<option value="准备车间">准备车间</option>
			</select></div>
		<div class="d"><label>设备类型:</label><select name="Equipment_type" class="s">
			<option value="笔记本电脑">笔记本电脑</option>
			<option value="台式品牌机" selected>台式品牌机</option>
			<option value="台式兼容机">台式兼容机</option>
			</select></div>
		<div class="d"><label>mac地址:</label><input type="text" name="mac" /></div>
		<div class="d"><label>IP地址:</label><input type="text" name="ip" /></div>
		<div class="d"><label>系统版本:</label><select name="system_type" class="s">
			<option value="Windows xp">Windows xp</option>
			<option value="windows 7" selected>windows 7</option>
			<option value="windows 10">windows 10</option>
			</select></div>
		<div class="d"><label>固定资产编号:</label><input type="text" name="id" /></div>
		<div class="d"><label>硬盘序列号:</label><input type="text" name="diskid" /></div>
		<div class="d" id="fbutton"><input type="button" value="提交更新数据" onclick="validateForm()" />
		<input type="button" onClick="location='/'" value="返回查询页面" />
		<input type=hidden name=yc value=”editpost” id="chaxie"></div>
	</form></div>
</div></body>
{{ template "index-bottom" }}
{{ end }}
