{{ define "editok" }}
{{ template "index-top" }}
<body>
<style>
.cont{width:500px;margin:auto;}
h2{text-align:center;}
button{float:right;}
</style>


<div class="cont">
<h2>恭喜,数据添加成功</h2>
<hr>
<p>
<button type="button" onClick="location='/'">点击按钮返回首页</button>

</div>
</body>
{{ template "index-bottom" }}
{{ end }}
