{{ define "index-top" }}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" charset="utf-8" name="viewport" content="text/html; charset=utf-8; width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<title>设备信息查询平台</title>
		<!--[if lt IE 9]>
		<script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
		<![endif]-->
	</head>
{{ end }}
