{{ define "index" }}
{{ template "head" }}
		<div class="queryBar">
			<h1>欢迎访问办公设备信息查询页</h1>
			<div class="p">请输入主机mac地址,即可查询对应信息.</div><br>
			<div class="fleld">
				<form name="query" action="query" method="get">
					<input id="search_input" class="prompt" name="MACID" placeholder="请输入需要查询主机的mac地址" autocomplete="off">
					<input type="submit" value="查询" />
					<input type="button" onClick="location='edit'" value="添加/编辑" /><p>
					<div>{{ .Msg }}</div>
				</form>
			</div>
		</div>
{{ template "table" .Data }}
{{ template "tail" }}
{{ end }}
