{{ define "table" }}
<div class="table_info">
	<table id="customers">
		<tr>
			<th>item</th>
			<th>value</th>
		</tr>
	    <tr>
	        <td>使用者姓名</td>
	        <td>{{ .User }}</td>
	    </tr>
	    <tr class="alt">
	        <td>所属部门</td>
	        <td>{{ .Dep }}</td>
	    </tr>
		<tr>
	        <td>设备类型</td>
	        <td>{{ .Type }}</td>
	    </tr>
		<tr class="alt">
	        <td>mac地址</td>
	        <td>{{ .Mac }}</td>
	    </tr>
		<tr>
	        <td>IP地址</td>
	        <td>{{ .Ip }}</td>
	    </tr>
		<tr class="alt">
	        <td>系统版本</td>
	        <td>{{ .Sys }}</td>
	    </tr>
		<tr>
	        <td>硬盘序列号</td>
	        <td>{{ .Disk }}</td>
	    </tr>
		<tr class="alt">
	        <td>固定资产编号</td>
	        <td>{{ .Id }}</td>
	    </tr>
	</table>
</div>
{{ end }}
